<nav>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    <button><a href="/dashboard">Dashboard</a></button>
    {{else}}
    <a href="/">Home</a>
    <a href="/login">Login</a>
    {{/if}}
  </nav>