<section>
  <a href="/dashboard" class="dashboard-link"> &larr; back to dashboard</a>
  <h2 class="title">Create Your Blog</h2><hr />

  <form class="create-new-blog-post-form">
    <div>
      <label for="blog-post-title">Your Blog's Title:</label>
      <input
        class="blog-title"
        type="text"
        id="blog-post-title"
        name="blog-post-title"
        placeholder="Enter your blog's title here"
      />
    </div>
    <div>
      <label for="blog-post-content">Your Blog's Content:</label>
      <input
        class="blog-body"
        id="blog-post-content"
        name="blog-post-content"
        placeholder="Enter your blog's content here"
      />
    </div>
    <button type="submit" class="btn create-blog">Create Blog</button>
  </form>
</section>

<script src="/js/create-blogpost.js"></script>