<section>
  <div class="login-container">
    <div>
      <h2 class="login-title">LOGIN</h2><hr />
    </div>
    <form class="login-form">
      <div>
        <label class="email-login" for="email-login">Email:</label>
        <input
          type="text"
          id="email-login"
          placeholder="type your email here"
        />
      </div>
      <div>
        <label class="password-login" for="password-login">Password:</label>
        <input
          type="password"
          id="password-login"
          placeholder="type you password here"
        />
      </div>
      <div>
        <button type="submit" class="btn login">Login</button>
        <p class="sign-up-text">don't have an account? click the signup to make
          an account.</p>
        <a href="/signup"><button
            type="button"
            class="btn signup"
          >Sign-Up</button></a>
      </div>
    </form>
  </div>
</section>
<!-- javascript file-->
<script src="/js/login.js"></script>