<section>
  <h2 class="signup-title">SIGN-UP</h2><hr />
  <div>
    <form class="signup-form">
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
        />
      </div>
      <div>
        <label for="signUp-email">Email:</label>
        <input
          type="email"
          name="signup-email"
          id="signup-email"
          placeholder="Enter your email"
        />
      </div>
      <div>
        <label for="signup-password">Password:</label>
        <input
          type="password"
          name="signup-password"
          id="signup-password"
          placeholder="Enter your password"
        />
      </div>
      <div>
        <button type="submit" id="signUp-button">Sign-Up</button>
      </div>
      <div>
        <p>If you have already created an account with us, then you can Login
          here:</p>
        <button><a class="login-btn" href="/login">Login</a></button>
      </div>
    </form>
  </div>
</section>
{{! javascript file }}
<script src="/js/signup.js"></script>