<section>
  <h2 class="signup-title">SIGN-UP</h2><hr />
  <div class="signup-container">
    <form class="signup-form">
      <div>
        <label class="username" for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
        />
      </div>
      <div>
        <label class="signup-email" for="signup-email">Email:</label>
        <input
          type="email"
          name="signup-email"
          id="signup-email"
          placeholder="Enter your email"
        />
      </div>
      <div>
        <label class="signup-password" for="signup-password">Password:</label>
        <input
          type="password"
          name="signup-password"
          id="signup-password"
          placeholder="Enter your password"
        />
      </div>
      <div>
        <button type="submit" class="btn signup">Sign-Up</button>
      </div>
      <div>
        <p class="login-text">If you have already created an account with us,
          then you can Login here:</p>
        <button class="btn login"><a href="/login">Login</a></button>
      </div>
    </form>
  </div>
</section>
{{! javascript file }}
<script src="/js/signup.js"></script>