/* standard upkeeping for the site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}
/* these are the colors of my website */
:root {
  --bg: #0d0208;
  --secondary: #21962f;
  --tertiary: #003b00;
  --hover: #062006;
  --text-color: #13ff4e;
  --error-text: rgb(228, 46, 1);
  --nuke-comment: rgb(65, 49, 6);
}
/* headers */
header {
  background-color: var(--tertiary);
  box-shadow: 0 0 0 rgba(66, 88, 66, 0.89);
}
.header-title {
  display: flex;
  justify-content: flex-start;
  color: var(--text-color);
  margin-bottom: 1rem;
}
/* body */
body {
  background-color: var(--bg);
  color: var(--secondary);
}
/* for the links */
a {
  color: var(--text-color);
  text-decoration: none;
}
/* for my buttons */
.btn {
  color: var(--text-color);
  background-color: var(--tertiary);
  display: inline;
  justify-content: space-between;
  font-size: 1em;
  padding: 0.3em;
  margin-bottom: 0.2rem;
}
.btn:hover {
  background-color: var(--hover);
  cursor: pointer;
}
/* this is for my login form */
.login-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.login-title {
  color: var(--text-color);
  padding: 1rem;
  text-decoration: none;
}
.login-form {
  padding: 1rem;
  margin: 0.5rem;
}
/* for the input tag  */
input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.email-login,
.password-login,
.sign-up-text {
  color: var(--text-color);
}
/* this is for the signup */
.signup-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.signup-title {
  color: var(--text-color);
  padding: 1rem;
  text-decoration: none;
}
.signup-form {
  padding: 1rem;
  margin: 0.5rem;
}
.username,
.signup-email,
.signup-password,
.login-text {
  color: var(--text-color);
}
/* for my blog content */
.blog-title {
  font-size: 2rem;
}
.blog-container {
  margin-bottom: 1rem;
}
.blog-card-info {
  font-size: 1rem;
}
.blog-card-user-info-container {
  color: var(--text-color);
  font-size: 1.2rem;
}
/* blog dashboard link*/
.dashboard-link {
  font-size: 1.5rem;
}
/* dashboard page */
.dashboard-title {
  color: var(--text-color);
  font-size: 2rem;
}
/* edit-blog/create blog page */
.title {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
/* for edit blog page */
.blog-post-title,
.blog-content,
.created-by-container {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.edit-blog-post-form {
  display: flex;
  flex-direction: column;
}
.save,
.delete-blog {
  width: 8rem;
}
/* blog body and title are universal to the edit and create blog pages */
.blog-body,
.blog-title {
  width: 40rem;
}
/* create blog post page */
.blog-post-title,
.blog-post-content {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.create-blog {
  padding: 0.7rem;
}
/* for the comment section */
.comment-section {
  color: var(--text-color);
  font-size: 1rem;
}
.posted-detail {
  color: var(--text-color);
  font-size: 1rem;
}
.comment-container {
  margin-bottom: 1rem;
}
.comment-body {
  padding: 1rem;
  border-radius: 0.2rem;
}
.delete-comment {
  padding: 1rem;
}
.delete-comment:hover {
  color: var(--error-text);
  background-color: var(--nuke-comment);
}
/* this is the text that you would see if there is no post */
.error-text {
  font-size: 2rem;
  text-align: center;
  color: var(--error-text);
}
/* for my footer */
footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin-bottom: -1rem;
  text-align: center;
}
/* for mobile accesibility */
@media screen and (max-width: 330px) {
  footer {
    margin-bottom: -3rem;
    font-size: 1.1rem;
  }
  .blog-body,
  .blog-title {
    width: 20rem;
  }
}
